doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/ionicons.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/angular-timer/dist/angular-timer.min.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/MainCtrl.js')
  body(ng-app='mlf-timer')
    ion-pane
      ion-header-bar.bar-positive
        h1.title Timer
      ion-content(ng-controller='MainCtrl')
        .item.item-input-inset
            label.item-input-wrapper
              input(type='number', placeholder='0 min', ng-model='minutes', readonly)
            a.button.button-small(ng-click='changeMin(1)'): i.icon.ion-ios7-arrow-up
            a.button.button-small(ng-click='changeMin(-1)'): i.icon.ion-ios7-arrow-down
          .item.item-input-inset
            label.item-input-wrapper
              input(type='number', placeholder='0 sec', ng-model='seconds', readonly)
            a.button.button-small(ng-click='incrementSeconds(1)'): i.icon.ion-ios7-arrow-up
            a.button.button-small(ng-click='decrementSeconds(-1)'): i.icon.ion-ios7-arrow-down
        .row
          .col
            label.item.item-input
              input(type='number', placeholder='0 hrs', ng-model='hours')
          .col
            label.item.item-input
              input(type='number', placeholder='0 mins', ng-model='minutes')
          .col
            label.item.item-input
              input(type='number', placeholder='0 secs', ng-model='seconds')
        .row
          .col
            button.button.button.button-balanced(ng-click='startTimer()', ng-disabled='timerRunning') Start
          .col
            button.button.button.button-assertive(ng-click='stopTimer()', ng-disabled='!timerRunning') Stop
        h3
          | Timer:
          timer {{minutes}} minutes,  {{seconds}} seconds

          timer(start-time='{{ms}}') {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds
      .bar.bar-footer.bar-dark
        .center
          small &copy; 2014 mlfryman
